body {
    background-image: url("img/bg.jpg");
    color: rgb(200,200,200);
    margin-top: 70px;
}

.navbar {
      font-family: sans-serif, Arial;
      margin-bottom: 0;
      border: 0;
      letter-spacing: 4px;
      opacity: 0.9;
  }

footer {
    text-align: center;
    font-size: 14pt;
    font-family: sans-serif, Arial;
    color: rgb(100,100,100);
    background-color: rgb(30,30,30);
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    float: left;
}

#profimg {
    margin-left: 5pt;
    margin-right: 10pt;
}

#project img {
    margin-left: 5%;
    margin-right: 10%;
}

hr {
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
}

.clearfix {
    overflow: auto;
}

.title1{
    text-align: center;
    font-family: Verdana, Arial;
    font-weight: bold; 
    font-size: 26pt;
    letter-spacing: 2px;

}

.title2 {
    font-family: Arial, Verdana;
    font-size: 20pt;
    text-decoration: underline;
    letter-spacing: 2px;

}

.title3 {
    font-family: Palatino, Verdana;
    font-size: 20pt;
    letter-spacing: 2px;
}

.title4 {
    font-family: sans-serif, Arial;
    font-size: 20pt;
    text-decoration: underline;
    text-align: center;
}

.p1 {
    font-family: Helvetica, Arial;
    font-size: 18pt;
    text-align: center;
    letter-spacing: 2px;
}

.p2 {
    font-family: Arial;
    font-size: 16pt;
    letter-spacing: 2px;
    margin-left: 2pt;
}

.p3 {
    font-family: Helvetica, Arial;
    font-size: 16pt;
    color: rgb(200,200,200);
    margin-left: 5%;
    margin-right: 5%;
}

.list1 {
    font-size: 16pt;
    font-family: Verdana;
    letter-spacing: 1px;
}

a {
    font-size: 15pt;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

#projects {
    text-align: center;
}

#contact {
    font-family: Verdana, Arial;
    font-size: 18pt;
    text-align: center;
}

.carousel {
    width: 900px;
    margin: auto;
}
.carousel .item {
    height: 120px;
}
